body{
    padding-right: 70px;
    padding-top: 10px;
    padding-left: 20px;
}
span{
    color: #EC4067;
}
ul.header{
    list-style-type: none;
    float: right;
    margin-top: 0;
    font-size: 18px;
    font-weight: lighter;
    padding-top: 10px;
}
li{
    display: inline;
}
.Enroll{
    padding-left: 10px;
    color: #EC4067;
}
}
button{
    color: #EC4067;
}
.Now{
    background-color: #EC4067;
    border: none;
    color: white;
    border-radius: 5px;
    height: 25;
    width: 80;
    text-align: center;
}
#read{
    width: 120px;
}
#Stories{
padding-right: 15;
color: grey;
}
#Courses{
padding-right: 15;
color: grey;
}
#OurProjects{
padding-right: 15;
color: grey;
}
a{
    color: white;
    text-decoration: none;
}
h1{
    color: #EC4067;
}
#Inner{
    padding-left: 50px;
    padding-top: 60px;
}
.Explore{
    border: 1px solid #EC4067;
    color: #EC4067;
    height: 25;
    width: 80;
}
.float{
    float: right;
    height: 220;
    width: 380;
}
.Orientation{
    padding-top: 100px;
}
.display{
    display: flex;
    align-items: center;
    padding: 50px;
}
.image{
    flex-basis: 20%;
}
.text{
    width: 200;
    padding-left: 50px;
}
.Board{
    align-items: center;
}
.graduation{
    padding-top: 200;
}
#Oketch{
    height: 110;
    padding-right: 40;
}
#Albert{
    height: 110;
    padding-right: 40;
}
#Katana{
    height: 110;
    padding-right: 40;
}
#Karimi{
    height: 110;
    padding-right: 40;
}
.one{
    width: 160;
}
.two{
    width: 160;
}
.three{
    width: 160;
}
.four{
    width: 160;
}
ul.photos li{
    float: left;
    padding-bottom: 100;

}
h4{
    color: #EC4067;
}
.P{
    padding-bottom: 50;
}
.contact{
    color: #EC4067;
}
.still{
    padding-top: 100;
    padding-bottom: 10;
}
.love{
    height: 12;
}
.design{
    background-color: rgba(243, 243, 243, 0.849);
    height: 40;
    padding-top: 50;
    padding-bottom: 30;
    text-align: center;
}
.go{
    padding-bottom: 40;
}